@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
/* MAIN LAYOUT */
.main-layout {
    margin: 0 auto;
    max-width: 67.5rem;
}

/* NAVBAR */
.navbar{
    background-color: #ff7f00;
}
.logo {
    width: 10rem;
}
.logo img {
    object-fit: contain;
    width: 100%;
}
.navbar nav ul {
    margin: 0;
    padding: 0;
}
.navbar nav ul li {
    list-style: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.navbar nav ul li:not(:last-child){
    margin-inline-end: 3rem;
}
.navbar nav ul li> a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
nav ul li a:hover {
    color: #fff;
    border-bottom: 2px solid whitesmoke;
}
.separator{
    color: black;
}

/* SEARCH */
.search-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 4.4375rem;
}
.search-container .most-search{
    display: flex;
    align-items: center;
}
.search-container .most-search span{
    display: block;
    cursor: pointer;
}
.search-container .most-search span:not(:last-child) {
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
    border-right: 1px solid lightgray;
}
.search-container .most-search span:last-child {
    padding-inline-start: 1rem;
}
.search-input{
    width: 20rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 1rem;
}

/* gallery */
.gallery-container{
    background-color: lightgray;
    min-height: calc(100vh - 44rem);
    display: flex;
    align-items: flex-start;
}
.gallery {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); 
    gap: 11px 10.5px;
}
.gallery .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.gallery .img-box:hover {
    cursor: pointer;
    scale: 1.05; 
}
.gallery .img-box img {
    width: 100%;
    object-fit: contain;
}

/* ABOUT */
.about {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
    max-height: 26.125rem;
}

.about article{
    width: 322px;
    height: 322px;
}
.about article.monical-geller img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.about .about-info{
    flex-direction: column;
    padding-left: 5rem;
    width: calc(100% - 322px);
}
.about div.social-links span.social {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: #ff7f00;
    border-radius: 2px;
}

.about div.about-info span.social img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #ff7f00;
    padding: 3rem;
    flex-direction: column;
    color: #fff;
}
/* generator */

.generator-container {
    background-color: lightgray;
    display: none;
    min-height: calc(100vh - 13.435rem);
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.generator{
    justify-content: space-between;
}

.canvas-container {   
    background: rgb(238, 225, 225);

}

.generator section.functionality {
    width: 23.3125rem;
    flex-direction: column;
}

.text-on-meme {
    margin-bottom: 0.5rem;
    width: 23.3125rem;
    height: 3.75rem;
    border-radius: 0.5rem;
    border: 0;
}

.generator section.functionality button{
    background-color: white;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    width: 3.75rem;
    height: 3.75rem;
}
.generator section.functionality .text-position{
    gap: 1.14rem;
}
.generator section.functionality button > img {
    width: 100%;
}
.text-style {
    width: 23.3125rem;
}
.font-related{
    padding-top: 0.6rem;
}
.select-stroke-color {
    position: absolute;
    opacity: 0;
    width: 3rem;
    height: 3rem;
}

.select-text-color {
    position: absolute;
    opacity: 0;
    width: 3rem;
    height: 3rem;
}
.functionality .choose-font{
    width: 13.5rem;
    height: 3.75rem;
    background-color: #fff;
    border: none;
    border-radius: 16px;
    padding: 0 1rem;
}
.functionality .download button.download-button{
    display: block;
    height: 3.75rem;
    width: 7.5rem;
    background-color: #ff7f00;
}

.functionality .download a {
    text-decoration: none;
}

@media (max-width: 1100px) {
    .main-layout{
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .gallery{
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
@media (max-width: 700px) {
    .gallery{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (max-width: 450px) {
    .gallery div {
        flex-basis: 100%;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    
    .about .about-info {
        text-align: center;
        padding: 1rem;
        flex-direction: column;
        padding: 0;
    }

    .about .about-info button {
        height: 45px;
        width: 45px;
        background-color: #ff7f00;
        border: 0;
        border-radius: 2px;
    }
}

/* HEALPERS */

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}